/* fix for very old browsers */
style,
script {
  display: none;
}

.backgroundinfo a, .beliefs a, .home a, .locations a, .sacrifices a {
    color: #3344dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
